<!DOCTYPE html>
<body style="background-color: gray">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
  <p align="center">
    <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAKsA8mK0sc84oPFoqmR8k-z8mM7OIo9PQ
          &q=Houston" allowfullscreen>
    </iframe>
  </p>
</body>
<br>
<div align="center">
    <body>
      <input type="submit" value="Shelters" />
      <input type="submit" value="Medicine" />
      <input type="submit" value="Damage" />
      <input type="submit" value="Evacuation" />
      <a href="{%url 'customtags' %}" class="btn btn-info"> Create Custom Tags</a>
    </body>

</div>
</body>
</html>

